.button {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  &.primary {
    background-color: #22c55e;
    color: #000;
    &:hover {
      background-color: #16a34a;
    }
  }

  &.secondary {
    background-color: #334155;
    color: #fff;
    &:hover {
      background-color: #475569;
    }
  }
}

.link {
  background-color: transparent;
  color: green;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.label {
  display: inline-block;
}

.disabled,
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
